/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}



#map{
    height: 550px;
    width: 100%;
    margin-bottom: 50px;
    z-index: 0;
}


/* BOITE A OUTILS */

.btn1{
    transition: 0.6s;
    background-color: #64b5f6;
    padding: 5px 22px;
    color: white;
    box-shadow: 1px 2px 1px grey;
    border: none;
}

.btn1:hover{
    transition: 0.6s;
    background-color: #367bba;
}

.center{
    text-align: center;
}

.full{
    width: 100%;
}

.help-block {
    margin: 15px;
    border: 2px solid black;
    padding: 2px;
    display: block;
}

.marginauto{
    margin: 0 auto;
}

/* BOITE A OUTILS */


/* NAV */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 70px;
    margin: 15px;
    margin-left: 32px;
}

nav{
    margin-right: 41px;
    padding: 0;
    width: 100%;
    margin-left: 46px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #101010;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}


.btn-inscription{
    text-decoration: underline;
    text-underline-position: under;
}

li:hover .hidden li a {
    line-height: 40px;
}

li ul li a {
    width: auto;
}

.hidden, .hidden2 {
    display: none;
    margin-left: 0;
    z-index: 2;
    background-color: white;
}

.hidden li, .hidden2 li {
    display: block;
}

ul li a:hover + .hidden, .hidden:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.nav-phone{
    display: none;
}

.hidden2 {
    flex-direction: column;
    position : absolute;
    right: 0;
    top : 100px;
    line-height : 40px;
}


@media screen and (max-width: 1120px) {
    .nav-desk{
        display: none;
    }

    .nav-phone{
        display: block;
    }

    header img{
        height: 60px;
        margin: 3px;
        margin-left: 32px;
    }
}
/* NAV */


/* HOME */

.barre{
    width: 100%;
    height: 3px;
    background-color: #5c5c5c;
}

.container--map{
    position: relative;
}

.icon-triangle{
    width: 30px;
    position: absolute;
    top: -4px;
    left: 49%;
    z-index: 900;
}

.bloc-search{
    position: absolute;
    z-index: 400;
    bottom: -2px;
    left: 20%;
    width: 50%;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #ffffff;
}

.bloc-search input{
    width: 45%;
}

.bloc-search select{
    width: 44%;
}

.bloc-search a{
    background-color: #fbc632;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bloc-search h2{
    background-color: white;
    padding: 10px 38px;
    color: #3d4c51;
    font-size: 25px;
    font-weight: 600;
}

.commercant{
    position: absolute;
    width: 150px;
    right: 0;
    z-index: -2;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.bloc-avantage{
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: space-evenly;
}

.avantage{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 13px 0;
    padding-left: 67px;
    box-sizing: border-box;
}

.photo-avantage{
    height: 335px;
}

.check{
    height: 30px;
    margin-right: 15px;
}

.title-avantage{
    font-size: 25px;
    font-weight: bold;
    color: #5c5c5c;
}

.switch-map{
    display: none;
}


@media screen and (max-width: 1350px) {

    .container{
        width: 100%;
    }

    .bloc-search {
        position: initial;
        margin: 53px auto;
        padding: 20px 30px;
    }

    #map{
        height: 400px;
    }

}


@media screen and (max-width: 1020px) {
    .bloc-avantage{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .photo-avantage {
        height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .bloc-search {
       width: 100%;
       box-sizing: border-box;
    }

    .bloc-search h2 {
        font-size: smaller;
    }

    .switch-map{
        display: block;
        position: absolute;
        bottom: 160px;
        left: 46%;
        cursor: pointer;
        background-color: #367bba;
        border-radius: 100px;
        padding: 7px;
    }

    .switch-map:hover{
        height: 35px;
    }

    .commercant{
        opacity: 0.5;
    }

    #map{
        height: 300px;
    }
}

@media screen and (max-width: 690px) {
    .title-avantage{
        margin: 0 20px;
    }

    .avantage{
        padding: 13px 27px;
        box-sizing: border-box;
    }
}



/* HOME */



/* FOOTER */

footer{
    color: white;
    margin-top: 150px;
    height: 350px;
    background-image: url("../img/footer.png");
    padding-left: 100px;
    padding-top: 80px;
}

.bloc-footer{
    display: flex;
    width: 35%;
    justify-content: space-around;
    margin-bottom: 60px;
}

.bloc-footer ul li{
    margin: 15px;
}

/* FOOTER */


/* INSCRIPTION */

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group{
    width: 50%;
    display: flex;
    flex-direction: column;
}

input{
    width: 70%;
    margin: 10px 0;
    padding: 11px;
    background-color: #f6f6f6;
    border: 1px solid #dfdfdf;
}

textarea {
    width: 70%;
    height: 100px;
    margin: 10px 0;
    padding: 11px;
    background-color: #f6f6f6;
    border: 1px solid #dfdfdf;
}

.select-category {
    margin: 10px 0;
    padding: 11px;
    background-color: #f6f6f6;
    border: 1px solid #dfdfdf;
}


.panel-heading{
    margin: 46px 0;
    background-color: #3d4c51;
    padding: 10px;
    color: white;
}

.test{
    width: 100%;
}

.checkbox{
    text-align: center;
    margin: 20px 0;
    margin-right: 115px;
}

.checkbox input{
    width: auto;
}

.panel-body{
    margin: 0 50px;
}

.siret{
    width: 85%;
}

.name-store{
    width: 77%;
}

.btn-form{
    font-size: 19px;
    margin-top: 35px;
    cursor: pointer;
}

.bloc-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 0;
    padding: 15px;
    background-color: #f6f6f6;
}

.bloc-info img{
    width: 40px;
    margin-right: 15px;
}

.bloc-info p{
    color: #adadad;
}

.container-form{
    width: 75%;
    margin: 0 auto;
}

.date-avis{
    margin: 8px 0;
}

@media screen and (max-width: 1020px) {
    .container-form{
        width: 100%;
    }

    input{
        width: 85%;
    }

    form{
        padding: 0 45px;
    }
}

@media screen and (max-width: 760px) {
    input{
        width: 90%;
    }

    .form-group{
        width: 80%;
    }

    form{
        padding: 0;
    }
}


/* INSCRIPTION */


/* CONNEXION */

.btn-login{
    display: block;
    margin: 50px auto;
    width: 100%;
}

.mdp-forget{
    display: block;
    margin: 48px auto;
}

/* CONNEXION */



/* MANAGER */

.nav2-manager{
    display: flex;
    background-color: #fbc632;
    margin-bottom: 50px;
}

.nav2-manager li{
    margin-left: 10px;
    padding: 10px;
}

.nav2-manager li:hover{
    background-color: #3d4c51;
    color: white;
}

.nav2-manager a{
    padding: 10px;
}

.table{
    width: 100%;
    margin: 30px auto;
}

.table thead{
    font-size: 19px;
    font-weight: bold;
}

.table tr{
    height: 50px;
    font-size: 14px;
    text-align: center;
}

.btn-modif{
    background-color: #fbc632;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7px;
}

.btn-supp{
    background-color: #fb3b32;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7px;
}

.btn-add-promo{
    background-color: #64b5f6;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 7px;
    justify-content: space-around;
    margin-right: 10px;
}

.btn-supp:hover{
    background-color: #3d4c51;
}

.btn-add-promo:hover{
    background-color: #3d4c51;
}

.btn-modif:hover{
    background-color: #3d4c51;
}

.action-table{
    display: flex;
    justify-content: space-around;
}

.action-table img{
    margin-left: 18px;
    width: 13px;
}

.container-form h2{
    margin: 35px 0;
    font-size: 19px;
    font-weight: bold;
}

.form-group select{
    padding: 10px;
    margin: 10px;
    width: 38%;
    background-color: #f6f6f6;
}

.active-promo-texte{
    width: 90%;
}

.input-radio{
    width: 20%;
}

tr:nth-child(even) {background: #f7f7f7}
tr:nth-child(odd) {background: #FFF}

@media screen and (max-width: 1440px) {
    .table{
        display: block;
        overflow-x: auto;
        overflow: scroll;
        white-space: nowrap;
    }

    .table a{
        margin: 0 5px;
    }

}

@media screen and (max-width: 1120px) {
    .nav2-manager {
        font-size: small;
        flex-wrap: wrap;
    }
}

/* MANAGER  */

/* USER */

.mes_infos{
    margin-right: 41px;
    padding: 0;
    width: 100%;
    margin-left: 46px;

    font-size: 17px;
    color: #101010;
}

.mes_infos ul{
    margin-left: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.mes_infos ul li{
    margin: 0 20px;
    padding: 0 10px 10px 10px;
}

.flex-mes-infos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #e8e8e8;
    padding: 30px;
    border-radius: 4px;
}

.star {
    float: right;
}

.mes-infos-avis {
    margin-bottom: 10px;
    padding: 3px 34px;
    list-style: none;
    background: #3f3f3f;
    color: white;
    background-size: cover;
    width: 100%;
    margin-right: 10px;
    border-radius: 4px;
}

.mes-infos-promo {
    margin-bottom: 10px;
    padding: 15px;
    list-style: none;
    background: #3f3f3f;
    color: white;
    background-size: cover;
    width: 30%;
    margin-right: 10px;
    border-radius: 4px;
}

.mes-infos-favoris {
    margin-bottom: 10px;
    padding: 9px 15px;
    list-style: none;
    background: linear-gradient(rgba(63, 63, 63, 0.88), rgba(0, 99, 178, 0.23)), url(../img/fond-gris-sombre.jpg);
    color: white;
    background-size: cover;
    width: 100%;
    border: 2px solid #0063B2;
    font-weight: 600;
    border-radius: 4px;
}

.flex-mes-infos ul .titre-mes-infos {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 15px;
    font-size: large;
    font-weight: bold;
}

.flex-mes-infos ul li{
    padding-bottom: 7px;
}

.flex-mes-infos ul li img {
    width: 20px;
}

.btn-mes-promos-retirer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-mes-avis-modifier {
    margin-top: 5px;
    margin-bottom: 15px;
}

.btn-mes-avis-supprimer {
    margin-bottom: 10px;
}

.date-fin-promo {
    position: relative;
    margin-left: 35px;
}

.calendar {
    margin-top: 5px;
    position: absolute;
}

.btn-supp-favoris{
    background-color: #fb3b32;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    float: right;
}

.btn-supp-favoris:hover {
    background-color: #3d4c51;
}

.bloc-infos-favoris{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.txt-avis{
    margin: 15px 100px;
    text-align: center;
}

.bloc-btn-avis{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}

.btn-avis{
    background-color: #64b5f6;;
    margin-top: 0px;
}

.code-promo{
    margin-bottom: 10px;
}

.bloc-note2{
    margin: 10px 0;
}

.img-vide{
    height: 110px;
}

.bloc-vide{
    display: flex;
    align-items: center;
}

.bloc-vide p{
    margin-left: 50px;
    font-weight: 600;
    color: #3d4c51;
}

@media screen and (max-width: 1350px) {
    .mes_infos {
        margin-right: 0;
        margin-left: 0;
    }

    .mes_infos ul {
        margin-left: 0;
    }

    .mes_infos ul li {
        margin: 0;
        width: 33%;
        text-align: center;
    }

}

@media screen and (max-width: 980px) {
    .mes-infos-promo{
        width: 49%;
    }

}

@media screen and (max-width: 680px) {
    .flex-mes-infos {
        padding: 10px;
    }

    .mes-infos-promo{
        width: 100%;
    }

    .txt-avis{
        margin: 10px;
    }

}


/* USER */


/* STORE */

.header-store{
    display: flex;
    position: absolute;
    z-index: -50;
    width: 100%;
}

.header-store img{
    width: 50%;
    object-fit: cover;
    height: 400px;
}

.container-store{
    width: 65%;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 300px;
    padding-bottom: 50px;
}

.bloc-info-store{
    width: 75%;
    margin: 0 auto;
    border-top: 1px solid #d8d8d8;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 55px;
}

.bloc-info-store div{
    display: flex;
    width: 50%;
    padding: 15px 20px;
    box-sizing: border-box;
    align-items: center;
}

.bloc-info-store img{
    width: 22px;
    height: 22px;
    margin-right: 30px;
}

.btn-favoris{
    position: absolute;
    right: 20px;
    top: 122px;
    background-color: #ffaf12;
    padding: 7px 33px;
    font-size: 19px;
}

.container-store h1{
    font-size: 30px;
    color: #464646;
}

.bloc-promo{
    display: flex;
    flex-wrap: wrap;
}

.promotion{
    width: 46%;
    background-color: #1d1d1d;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 2%;
}

.promotion div{
    margin: 20px auto;
}

.promotion h3{
    margin: 10px 0;
    font-size: 22px;
}

.bloc-note{
    display: flex;
    justify-content: center;
}

.bloc-note img{
    height: 20px;
    margin: 3px;
}

.bloc-btn{
    display: flex;
    justify-content: space-around;
}

.bloc-date-promo{
    max-width: 220px;
    margin: 0 auto;
}

.bloc-date-promo p{
    margin: 5px 0;
}

.message-avis{
    border: 1px solid #dfdfdf;
    margin: 10px 0;
    height: 220px;
    background-color: white;
}

.form-avis{
    justify-content: flex-start;
}

.form-avis input{
    background-color: white;
    width: 40%;
}

.form-avis button{
    margin: 40px auto;
}

.form-avis p{
    margin: 10px 0;
    width: 100%;
}

.form-avis div{
    width: 20%;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .container-store{
        width: 85%;
    }

    .bloc-info-store{
        width: 90%;
    }
    
}

@media screen and (max-width: 920px) {
    .container-store{
        width: 100%;
    }

    .promotion{
        width: 100%;
    }

    .bloc-info-store img{
        margin-right: 10px;
    }

}

/* STORE */

/*FAQ*/

.reponsefaq {
    margin: 10px;
    line-height: 1.5;
}

.questionfaq {
    font-weight: bold;
    margin : 10px
}

.questionreponsefaq {
    border-bottom: 1px solid #D3D3D3;
    margin: 20px;
}

/*FAQ*/



/* ERROR 404 */

.bloc-404{
    margin-top: 50px;
}

.bloc-404 h1{
    font-size: 350px;
    color: #64b5f6;
}

.bloc-404 p{
    font-size: 50px;
}



@media screen and (max-width: 650px) {
    .bloc-404 h1 {
        font-size: 200px;
    }
}

/* ERROR 404 */


/* ALERT HARI */
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 50%;
    margin-left: 20px;
}
a.close {
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -1px;
    color: inherit;
}

/* ALERT HARI */